@use "../partials/mixins.scss" as *;
@use "../partials/variables" as *;

.edit-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;

    &__bg-img {
        background-image: url(../../assets/images/icons/logos/Science-01.svg);
        height: 50rem;
        width: 50rem;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 10vh;
        right: 70vw;
        z-index: 4;
        opacity: 0.1;
    }

    &__form {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 15vw;
        height: 30vh;
        border-radius: 3rem;
        filter: drop-shadow(1px 2px 3px black);
        margin-bottom: 2rem;
        @include background-gradient;

        &-input-flex {
            width: 90%;
            text-align: center;
            font-size: 1.5rem;

            input {
                height: 10vh;
            }
        }
    }

    &__button {
        margin-top: 1rem;
        background-color: $aqua;
        width: 10rem;
        color: #fff;
        border-radius: 0.5rem;
        padding: 0.5rem;
        font-size: inherit;
        cursor: pointer;
        transition: background-color 0.15s;

        &:hover {
            background-color: #003fc2;
        }
    }

    &__logout {
        margin-top: 1rem;
        background-color: $aqua;
        width: 10rem;
        color: #fff;
        border-radius: 0.5rem;
        padding: 0.5rem;
        font-size: inherit;
        cursor: pointer;
        transition: background-color 0.15s;
        margin-bottom: 2rem;

        &:hover {
            background-color: #003fc2;
        }
    }
}
