@use "../partials/variables" as *;
@use "../partials/mixins.scss" as *;

.footer {
    @include padding-sides;
    background-color: $aqua;
    display: flex;
    align-items: center;
    color: white;
    height: 6rem;
    z-index: 6;
}

.span {
    content: "\00A9";
}
