// @font-face {
//     font-family: 'Champagne & Limousines';
//     src: url('ChampagneLimousines-Italic.woff2') format('woff2'),
//         url('ChampagneLimousines-Italic.woff') format('woff');
//     font-weight: normal;
//     font-style: italic;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Champagne & Limousines';
//     src: url('ChampagneLimousines-BoldItalic.woff2') format('woff2'),
//         url('ChampagneLimousines-BoldItalic.woff') format('woff');
//     font-weight: bold;
//     font-style: italic;
//     font-display: swap;
// }

@font-face {
    font-family: 'Champagne & Limousines';
    src: url('../../assets/fonts/ChampagneLimousines-Bold.woff2') format('woff2'),
         url('../../assets/fonts/ChampagneLimousines-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

// @font-face {
//     font-family: 'Champagne & Limousines';
//     src: url('ChampagneLimousines.woff2') format('woff2'),
//         url('ChampagneLimousines.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }

*, *::before, *::after{
    font-family: 'Champagne & Limousines';
}

